/*--- Primary Search Bar ----------------------------------------------------------------------------------*/
.searchbar {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: top 0.75s ease, transform 0.75s ease;
}

.searchbar-enter {
    top: 40%; /* Start at the initial position */
    transform: translate(-50%, -50%);
}

.searchbar-enter-active {
    top: 3rem;
    transform: translate(-50%, 0); /* Smoothly transition to the top */
}

.searchbar-enter-done {
    top: 3rem;
    transform: translate(-50%, 0); /* Stay at the top after animation */
}

/*---------------------------------------------------------------------------------------------------------*/
